.about-container {
    // width: 320px;
    background-image: url('../images/about/mob/about-milk-mod@1x.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-position: bottom 140px left 0px;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url('../images/about/mob/about-milk-mod@2x.png');
    }

    @media screen and (min-width:768px) and (max-width:1199px) {
        background-image: none;
    }

    @media screen and (min-width:1200px) {
        background-image: url('../images/about/desktp/about-milk-desktp@1x.png');
        background-position: bottom;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('../images/about/desktp/about-milk-desktp@2x.png');
        }
    }
}
.about {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.75;
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: var(--about-bg-color);
    @media screen and (min-width:768px) {
        padding-bottom: 60px;
    }
    @media screen and (min-width:1200px) {
        padding-bottom: 81px;
    }
}
.about__title {
    font-family: 'Titan One', sans-serif;
    font-size: 34px;
    font-weight: 400;
    line-height: 1.15;
    text-align: center;
    text-transform: uppercase;
    color: var(--titles-color);
    margin-bottom: 32px;

    @media screen and (min-width:768px) {
        margin-bottom: 40px;
        font-size: 48px;
        line-height: 1.15;
    }

    @media screen and (min-width:1200px) {
        margin-bottom: 60px;
        font-size: 58px;
        line-height: 1.14;
    }
}
.about__span {
    display: flex;
    font-family: 'Titan One', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.17;
    justify-content: center;
    text-transform: uppercase;
    color: var(--subtitle-color);
    margin-bottom: 15px;

    @media screen and (min-width:768px) {
        font-size: 26px;
        line-height: 1.15;
    }

    @media screen and (min-width:1200px) {
        font-size: 30px;
        line-height: 1.13;
    }
}

.about__content {
    @media screen and (max-width:767px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        }
    @media screen and (min-width:768px)  {
        display: flex;
    }
}

.about__text-thumb {
    min-width: 220px;

    @media screen and (min-width:768px) {
        width: 334px;
        margin-left: 32px;
    }

    @media screen and (min-width:1200px) {
        width: 463px;
        margin-left: 99px;
        padding-top: 90px;
    }
}

.about__text {
    display: flex;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.58;
    margin-bottom: 30px;
    color: var(--main-black);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        transform: scale(1.2);
        cursor: pointer;
    }
    @media screen and(min-width:768px) {
        font-size: 14px;
        line-height: 1.76;
    }

    @media screen and(min-width:1200px) {
        font-size: 16px;
        line-height: 1.79;
        letter-spacing: 0.04em;
    }
}

.about__description {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.58;
    color:var(--light-grey);
    margin-bottom: 20px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        transform: scale(1.2);
        cursor: pointer;
    }

    @media screen and (min-width:768px) {
        font-size: 14px;
        line-height: 1.79;
        letter-spacing: 0.04em;
        margin-bottom: 40px;
    }

    @media screen and (min-width:1200px) {
        line-height: 1.93;
    }
}

.about__button {
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 22px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    padding-left: 37px;
    padding-right: 38px;
    background-color: var(--main-white);
    color: var(--red-color);
    height: 44px;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #ECEBEB;
    };

    &::after {
        content: " ";
        background-image: url('../images/sprite.svg#icon-chevron-right');
        background-size: contain;
        background-repeat: no-repeat;
        width: 10px;
        height: 10px;
        margin-left: 14px;
    }

    @media screen and (min-width:768px) {
        font-size: 16px;
        line-height: 1.31;
        ;
    }
}