.customer-reviews {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-bottom: 80px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.container-slider {
  position: relative;
}

.reviews-slider {
  flex-direction: column;
  align-items: center;
}
.reviews-slider__img {
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 16px;
  }
}

.container-review {
  position: relative;
  z-index: -10;
  background: var(--reviews-bg-color);
  padding: 43px 58px 26px 65px;

  @media screen and (min-width: 768px) {
    width: 620px;
    padding: 37px 55px 44px 50px;
    background: none;
  }
  @media screen and (min-width: 1200px) {
    width: 968px;
    padding: 47px 109px 39px 109px;
    background: var(--reviews-bg-color);
  }
  &::before {
    content: ' ';
    position: absolute;
    background-image: url('../images/cust-reviews/slide.png');
    width: 54px;
    height: 40px;
    top: 30px;
    left: 65px;
    z-index: -1;
    @media screen and (min-width: 768px) {
      top: 20px;
      left: 50px;
    }
    @media screen and (min-width: 1200px) {
      top: 32px;
      left: 109px;
    }
  }
}

.reviews-slider__text {
  text-indent: 31px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;
  margin: 0;
  color: var(--main-black);
  background: repeating-linear-gradient(
    transparent 0px,
    transparent 29px,
    var(--border-line-color) 29px,
    var(--border-line-color) 30px
  );
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 2.14;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.04em;
  }
}

.marker-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
  @media screen and (min-width: 768px) {
    margin-top: 16px;
  }
}

.marker-list__dot::after {
  content: ' ';
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--pagination-dot-red);
}

.reviews-slider__client {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  color: var(--main-black);
  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    font-size: 16px;
  }
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 8px;
  color: var(--pagination-dot-red);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: var(--light-pink);
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 18px;
  padding: 0;
  margin: 0;
}
.pagination__dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  fill: var(--pagination-dot);
  display: inline-block;
  transition: background-color 0.6s ease;
}
.pagination__dot.active .pagination__ellipse {
  display: none;
}
.pagination__dot.active .pagination__house {
  display: block;
}
.pagination__icon {
  position: absolute;
}
.pagination__house {
  display: none;
}
.active,
.pagination__dot:hover {
  fill: var(--pagination-dot-red);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}
