.header {
  background-color: var(--light-pink);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px 0px 0px;
  @media screen and (min-width: 768px) {
    padding: 32px 0px 0px 0px;
  }
  @media screen and (min-width: 1200px) {
    padding: 37px 0px 0px 0px;
  }
}

.header-button {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.button-buy {
  display: none;

  padding: 0 30px 0 30px;
  width: 160px;
  height: 44px;
  border-radius: 22px;
  border: none;
  background-color: var(--main-white);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: var(--red-color);
  transition: background-color 250ms, transform 250ms;
  animation: glowing 1500ms infinite;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #ecebeb;
    transform: scale(1.05);
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 0px 0px 32px;
  }
  @media screen and (min-width: 1200px) {
    margin: 0px 0px 0px 141px;
  }
}

@keyframes glowing{
  0% {box-shadow: 0 0 5px #D41443; transform: scale(1);}
  50% {box-shadow: 0 0 20px #FFB8CA; transform: scale(1.05);}
  100% {box-shadow: 0 0 5px #D41443; transform: scale(1);}  
}

@media screen and (min-width: 768px) {
  @keyframes glowing {
      0% {
        box-shadow: 0 0 5px #FFB8CA;
        transform: scale(1);
      }
  
      50% {
        box-shadow: 0 0 20px #D41443;
        transform: scale(1.05);
      }
  
      100% {
        box-shadow: 0 0 5px #FFB8CA;
        transform: scale(1);
      }
    }
}



.site-nav {
  display: none;
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
    transition: transform 250ms;
  }
}

.site-nav-item:not(:last-child) {
  margin-right: 35px;
}
.site-nav-item:hover {
  transform: scale(1.05);
}



.site-nav-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: var(--main-white);
  padding-top: 10px;
  padding-bottom: 10px;
  transition: color 250ms;

  &:hover,
  &:focus {
    color: var(--red-color);
    mask-size: 200%;
    // -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
    mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
    -webkit-mask-image: -webkit-linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
    // -moz-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
    // -o-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
    // -webkit-mask-size: 200%;
    
    animation: wave 2s infinite;
  }
  
}
// @-webkit-keyframes wave {
//   from {
//     -webkit-mask-position: 150%;
//   }

//   to {
//     -webkit-mask-position: -50%;
//   }
// }
@keyframes wave {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}



.header__menu-wrapper {
  display: flex;

  @media screen and (max-width: 1199px) {
    position: static;
  }
}
