// hero

.hero {
    
    height: 444px;
    background-color: var(--light-pink);
    overflow: hidden;
    
    @media screen and (min-width: 768px) {
        height: 334px;
        overflow: visible;
    }
    @media screen and (min-width: 1200px) {
        height: 578px;
    }
}
.hero-container {
    height: 100%;
    position: relative;
}
.hero-title {
    position: absolute;
    z-index: 5;
    top: 136px;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.153;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--main-white);

    @media screen and (min-width: 768px) {
        font-size: 22px;
        line-height: 1.136;
        top: 20px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 38px;
        line-height: 1.157;
        top: 60px;
    }
}


.hero-title_barnd {
    font-size: 48px;
    line-height: 0.96;
    color: var(--red-color);

    @media screen and (min-width: 768px) {
            font-size: 34px;
            line-height: 0.91;
        }
    @media screen and (min-width: 1200px) {
        font-size: 58px;
        line-height: 0.89;
    }

}

// кнопки

.hero-button-list {
    position: absolute;
    bottom: 158px;
    z-index: 5;
    display: flex;

    @media screen and (min-width: 768px) {
        bottom: 190px;
    }
    @media screen and (min-width: 1200px) {
        bottom: 317px;
    }
}

.button-products {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62.4px;
    height: 24px;
    background: var(--red-color);
    border-radius: 20px;
    border: none;
    color: var(--main-white);
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    margin-right: 8px;
    transition: transform 250ms;

    &:hover, &:focus {
        transform: scale(1.05);
    }

    @media screen and (min-width: 1200px) {
        width: 107px;
        height: 40px;
        font-size: 14px;
        line-height: 1.28;
    }
}

.button-how-its-made {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82.8px;
    height: 24px;
    background: var(--main-white);
    border-radius: 20px;
    border: none;
    color: var(--red-color);
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    transition: background-color 250ms, transform 250ms;

    &:hover, &:focus {
            background-color: #ECEBEB;
            transform: scale(1.05);
        }

    @media screen and (min-width: 1200px) {
        width: 138px;
        height: 40px;
        font-size: 14px;
        line-height: 1.28;
    }
}

// картинки

.hero-circle {
    position: absolute;
    z-index: 2;
    background-color: var(--dark-pink);
    border-radius: 50%;

    @media screen and (max-width: 767px) {
        top: 25px;
        left: 50%;
        transform: translateX(-36%);
        width: 346px;
        height: 344px;
    }
    @media screen and (min-width: 768px) {
        width: 335px;
        height: 333px;
        bottom: 40px;
        left: 248px;
    }
    @media screen and (min-width: 1200px) {
        width: 534px;
        height: 534px;
        bottom: 77px;
        left: 517px;
    }
}

.hero-icecream {
    position: absolute;
    top: 9px;
    left: 81px;

    @media screen and(min-width: 768px) {
        top: 37px;
    }
    @media screen and(min-width: 1200px) {
        top: 54px;
        left: 119px;
    }
}

.hero-milk-icon {
    
    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        position: absolute;
        bottom: 16px;
        left: 32px;
    }
    @media screen and (min-width: 1200px) {
        bottom: 61px;
        left: 16px;
    }
}

.hero-girl-icon {

    @media screen and (max-width: 767px) {
        display: none;
    }

        @media screen and (min-width: 768px) {
        position: absolute;
        z-index: 10;
        bottom: 0;
        right: 32px;
        }
}



// циферки кружечки

.counter-cafe {

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 43px;
        height: 44px;
        right: 32px;
        bottom: 280px;
        background-image: url(../images/hero-header/tab/Ellipse\ tab.png);
        background-repeat: no-repeat;
        background-position: right 0;
    }

    @media screen and (min-width: 1200px) {
        position: absolute;
        width: 72px;
        height: 77px;
        right: 32px;
        bottom: 436px;
        background-image: url(../images/hero-header/desktp/EllipseDes.png);
        background-repeat: no-repeat;
        background-position: right 0;
    }
}

.number-16 {

    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--red-color);

    @media screen and (min-width: 1200px) {
        font-size: 46px;
        line-height: 1.152;
    }
}

.cafes {
    text-align: center;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    color: var(--main-white);

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.28;
    }
}

.counter-food-trucks {
    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 51px;
        height: 43px;
        right: 32px;
        bottom: 221px;
        background-image: url(../images/hero-header/tab/Ellipse\ tab.png);
        background-repeat: no-repeat;
        background-position: right 0;
    }

    @media screen and (min-width: 1200px) {
        position: absolute;
        width: 92px;
        height: 78px;
        right: 32px;
        bottom: 345px;
        background-image: url(../images/hero-header/desktp/EllipseDes.png);
        background-repeat: no-repeat;
        background-position: right 0;
    }
}

.food-trucks {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    color: var(--main-white);

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.28;
    }
}

.number-23 {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--red-color);

    @media screen and (min-width: 1200px) {
        font-size: 46px;
        line-height: 1.152;
    }
}


// непонятный текст


.hero-lorem {
    
    @media screen and (max-width: 767px) {
        display: none;
    }
    @media screen and (min-width: 768px) {
        width: 114px;
        position: absolute;
        z-index: 10;
        bottom: 56px;
        left: 184px;
    }
    @media screen and (min-width: 1200px) {
        width: 200px;
        bottom: 85px;
        left: 229px;
    }

}
.hero-lorem-text {

    @media screen and (min-width: 768px) {
        font-size: 8px;
        line-height: 1.5;
        color: var(--main-white);
        padding-bottom: 7px;
        }
    
    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.43;
        padding-bottom: 20px;
    }
    
}

.buttom-lorem {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-white);
    border-radius: 50%;
    border: none;
    width: 18px;
    height: 18px;
    cursor: pointer;
    transition: transform 250ms;

    &:hover, &:focus {
        transform: scale(1.5);
    }
    @media screen and (min-width: 1200px) {
        width: 26px;
        height: 26px;
    }
}
.lorem-button-icon {
    fill: var(--red-color);   
}