body.menu-open {
  @media screen and (max-width: 1199px) {
    overflow: hidden;
  }
}

.icon-burger-close {
  display: none;
  .header-button.is-open & {
    display: block;
  }
}

.icon-burger-open {
  .header-button.is-open & {
    display: none;
  }
}

.header__menu-wrapper.is-open {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 11;

  display: flex;
  flex-direction: column;

  width: 250px;
  height: 100%;
  padding: 25px 0;
  background-color: var(--mobile-menu-color);
  box-shadow: -50px 0px 50px 50px rgba(0, 0, 0, 0.13);

  overflow-y: scroll;

  @media screen and (min-width: 768px) {
    padding: 48px 0;
  }
  @media screen and (min-width: 1200px) {
    position: static;
    flex-direction: row;
    width: 100%;
    padding: 0px;
    background-color: transparent;
    box-shadow: none;
  }
}

.site-nav {
  .header__menu-wrapper.is-open & {
    display: flex;
    flex-direction: column;
    order: 3;
  }
  @media screen and (min-width: 1200px) {
    .header__menu-wrapper.is-open & {
      flex-direction: row;
      order: 0;
      margin-left: auto;
    }
  }
}

.button-buy {
  .header__menu-wrapper.is-open & {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 25px auto;
    flex-shrink: 0;
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0px 0px 0px 141px;
    }
  }
}

.site-nav-item {
  .header__menu-wrapper.is-open & {
    margin: 0;
    border: 1px solid var(--mobile-bg-col);
    @media screen and (min-width: 1200px) {
      border: none;
      padding: 0px;
      margin-right: 20px;
      &:not(:last-child) {
        margin-right: 35px;
      }
    }
  }
}

.header-button.is-open {
  margin-left: auto;
  margin-right: 18px;
}

.site-nav-link {
  display: block;
  @media screen and (max-width: 1199px) {
    font-size: 14px;
  }
  .header__menu-wrapper.is-open & {
    padding-left: 20px;
  }
}
