:root{
    --main-white: #fff;
    --main-black: #000;
    --light-pink: #FFB8CA;
    --dark-pink: #FFA5BA; // dark-pink можете використовувати для фону тощо;
    --subtitle-color: #FFA5BA; // subtitle-color можете юзати для забарвлення підзаголовків або виділень;
    --mobile-bg-col: #E18298;
    --red-color: #D41443; // red-color можете використовувати для фону тощо;
    --titles-color: #D41443; // titles-color можете юзати для забарвлення тайтлів або виділень;
    --light-grey: #907E82;
    --sand-yellow: #F0D1A5;
    --light-green: #C2E297;
    --border-line-color: #E1E1E1;
    --about-bg-color: #FFF5F6;
    --contacts-bg-color: #FFF5F6;
}