:root {
  --main-white: #fff;
  --main-black: #000;
  --light-pink: #ffb8ca;
  --dark-pink: #ffa5ba; // dark-pink можете використовувати для фону тощо;
  --subtitle-color: #ffa5ba; // subtitle-color можете юзати для забарвлення підзаголовків або виділень;
  --mobile-bg-col: #e18298;
  --mobile-menu-color: #e17992;
  --red-color: #d41443; // red-color можете використовувати для фону тощо;
  --titles-color: #d41443; // titles-color можете юзати для забарвлення тайтлів або виділень;
  --light-grey: #907e82;
  --sand-yellow: #f0d1a5;
  --light-green: #c2e297;
  --border-line-color: #e1e1e1;
  --about-bg-color: #fff5f6;
  --contacts-bg-color: #fff5f6;
  --reviews-bg-color: #fafafa;
  --pagination-dot: #d9d9d9;
  --pagination-dot-red: #c7133e;
  --menu-secon-card: orange;
  --button-red-hover: #d41342;
}
