<section class="advantages" id="advantages">
    <div class="container">
       
        <h2 class="visually-hidden">advantages</h2>
        <ul class="advantages__list list">
            <li class=" advantages__item">
                <span class=" advantages__span advantages__span-milk" data-aos="zoom-in" data-aos-delay="200">721</span>
                <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class=" advantages__item">
                <span class=" advantages__span advantages__span-apple" data-aos="zoom-in" data-aos-delay="200">16kg</span>
                <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class=" advantages__item">
                <span class=" advantages__span advantages__span-heart" data-aos="zoom-in" data-aos-delay="200">84</span>
                <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
        
    </div>
</section>