<section class="section section__contacts" id="section__contacts">
  <div class="container contacts__container">
    <h2 class="visually-hidden">Our contacts</h2>
    <div class="contacts__office--wrap">
      <ul class="contacts__office">
        <li class="contacts__item contacts__item--name-office">
          <div class="contacts__item-wrap cafe"><span>CAFE</span></div>
          <h4 class="contacts__item-title">Chicago</h4>
          <p class="contacts__description contacts__description--place">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </li>
        <li class="contacts__item contacts__item--schedule">
          <ul>
            <li class="schedule-time--gap">
              <p class="contacts__description--working-days">Monday - Friday</p>
              <p
                class="contacts__description contacts__description--working-time"
              ><time class="visually-hidden">06:00</time><time class="visually-hidden">10:00</time>
                06:00 AM - 10:00 PM
              </p>
            </li>
            <li class="schedule-time--gap">
              <p class="contacts__description--working-days">
                Saturday - Sunday
              </p>
              <p
                class="contacts__description contacts__description--working-time"
              ><time class="visually-hidden">08:00</time><time class="visually-hidden">16:00</time>
                08:00 AM - 16:00 PM
              </p>
            </li>
          </ul>
        </li >
        <li class="contacts__item">
          <p class="contacts__description contacts__description--phone">
            <a class="contacts--phone" href="tel:610383766284"
              >+61(0) 383 766 284</a
            >
          </p>
          <p class="contacts__description contacts__description--email">
            <a class="contacts--email" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </p>
        </li>
      </ul>
    </div>
    <div class="contacts__office--wrap">
      <ul class="contacts__office">
        <li class="contacts__item contacts__item--name-office">
          <div class="contacts__item-wrap foodtruck"><span>FOODTRUCK</span></div>
          <h4 class="contacts__item-title">Los Angeles</h4>
          <p class="contacts__description contacts__description--place">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </li>
        <li class="contacts__item contacts__item--schedule">
          <ul>
            <li class="schedule-time--gap">
              <p class="contacts__description--working-days">Monday - Friday</p>
              <p
                class="contacts__description contacts__description--working-time"
              ><time class="visually-hidden">06:00</time><time class="visually-hidden">10:00</time>
                06:00 AM - 10:00 PM
              </p>
            </li>
            <li class="schedule-time--gap">
              <p class="contacts__description--working-days">
                Saturday - Sunday
              </p>
              <p
                class="contacts__description contacts__description--working-time"
              ><time class="visually-hidden">08:00</time><time class="visually-hidden">16:00</time>
                08:00 AM - 16:00 PM
              </p>
            </li>
          </ul>
        </li>
        <li class="contacts__item">
          <p class="contacts__description contacts__description--phone">
            <a class="contacts--phone" href="tel:610383766284"
              >+61(0) 383 766 284</a
            >
          </p>
          <p class="contacts__description contacts__description--email">
            <a class="contacts--email" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </p>
        </li>
      </ul>
    </div>
    <div class="contacts__office--wrap">
      <ul class="contacts__office">
        <li class="contacts__item contacts__item--name-office">
          <div class="contacts__item-wrap cafe"><span>CAFE</span></div>
          <h4 class="contacts__item-title">Chicago</h4>
          <p class="contacts__description contacts__description--place">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </li>
        <li class="contacts__item contacts__item--schedule">
          <ul>
            <li class="schedule-time--gap">
              <p class="contacts__description--working-days">Monday - Friday</p>
              <p
                class="contacts__description contacts__description--working-time"
              ><time class="visually-hidden">06:00</time><time class="visually-hidden">10:00</time>
                06:00 AM - 10:00 PM
              </p>
            </li>
            <li class="schedule-time--gap">
              <p class="contacts__description--working-days">
                Saturday - Sunday
              </p>
              <p
                class="contacts__description contacts__description--working-time"
              ><time class="visually-hidden">08:00</time><time class="visually-hidden">16:00</time>
                08:00 AM - 16:00 PM
              </p>
            </li>
          </ul>
        </li>
        <li class="contacts__item">
          <p class="contacts__description contacts__description--phone">
            <a class="contacts--phone" href="tel:610383766284"
              >+61(0) 383 766 284</a
            >
          </p>
          <p class="contacts__description contacts__description--email">
            <a class="contacts--email" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </p>
        </li>
      </ul>
    </div>
  </div>
  <ul class="contact__franchise-list">
    <li class="contact__franchise-item">
      <button
        type="button"
        class="contact__button contact__franchise-link"
        data-modal-map-open
      >
        Our Locations<svg
          class="contact__franchise-icon"
          width="4px"
          height="8px"
        >
          <use href="./images/sprite.svg#foo"></use>
        </svg>
      </button>
    </li>
    <li class="contact__franchise-item">
      <button
        type="button"
        class="contact__button contact__franchise-link"
        data-modal-map-open
      >
        Franchise<svg class="contact__franchise-icon" width="4px" height="8px">
          <use href="./images/sprite.svg#ForBuyNow"></use>
        </svg>
      </button>
    </li>
  </ul>
</section>
