<section class="section section__gallery">
  <ul class="container gallery__container">
    <li class="gallery__column">
      <img
        class="gallery__img"
        src="./images/gallery/mob/galary_1_1x.jpg"
        alt="picture 1"
      />
    </li>
    <li class="gallery__column">
      <img
        class="gallery__img"
        src="./images/gallery/mob/galary_2_1x.jpg"
        alt="picture 2"
      />
      <img
        class="gallery__img"
        src="./images/gallery/mob/galary_3_1x.jpg"
        alt="picture 3"
      />
    </li>
    <li class="gallery__column">
      <img
        class="gallery__img"
        src="./images/gallery/mob/galary_4_1x.jpg"
        alt="picture 4"
      />
      <img
        class="gallery__img img--big"
        src="./images/gallery/mob/galary_5_1x.jpg"
        alt="picture 5"
      />
    </li>
    <li class="gallery__column">
      <img
        class="gallery__img"
        src="./images/gallery/mob/galary_6_1x.jpg"
        alt="picture 6"
      />
      <img
        class="gallery__img"
        src="./images/gallery/mob/galary_7_1x.jpg"
        alt="picture 7"
      />
    </li>
    <li class="gallery__column">
      <img
        class="gallery__img"
        src="./images/gallery/mob/galary_8_1x.jpg"
        alt="picture 8"
      />
      <img
        class="gallery__img"
        src="./images/gallery/mob/galary_9_1x.jpg"
        alt="picture 9"
      />
    </li>
    <li class="gallery__column">
      <img
        class="gallery__img"
        src="./images/gallery/mob/galary_10_1x.jpg"
        alt="picture 10"
      />
    </li>
  </ul>
</section>
<div id="my__modal" class="my__modal">
  <span class="close" id="close">&times;</span>
  <div class="modal__block" id="modal__block">
    <img id="img01" class="modal__content" alt="" />
    <div id="caption"></div>
  </div>
</div>
<script src="./js/gallery.js"></script>
