<section class="section section__gallery" id="section__gallery">
  <div class="container gallery__container">
    <h2 class="visually-hidden">Gallery</h2>
    <ul class="gallery__list">
      <li class="gallery__column">
        <picture>
          <!-- mob -->
          <source srcset="
          ./images/gallery/mob/webp/img_picture_mob__1_1x.webp,
          ./images/gallery/mob/webp/img_picture_mob__1_2x.webp 2x,
          ./images/gallery/mob/webp/img_picture_mob__1_3x.webp 3x" 
          type="image/webp" 
          
          media="(max-width: 320px)"/>
          <source srcset="
          ./images/gallery/mob/jpg/img_picture_mob__1_1x.jpg,
          ./images/gallery/mob/jpg/img_picture_mob__1_2x.jpg 2x,
          ./images/gallery/mob/jpg/img_picture_mob__1_3x.jpg 3x" 
          type="image/jpeg" 
          media="(max-width: 320px)"/>
          <!-- tab -->
          <source srcset="
          ./images/gallery/tab/webp/img_picture_tab__1_1x.webp,
          ./images/gallery/tab/webp/img_picture_tab__1_2x.webp 2x,
          ./images/gallery/tab/webp/img_picture_tab__1_3x.webp 3x" 
          type="image/webp"
          
          media="(min-width: 320.1px) and (max-width: 768px)"/>
          <source srcset="
          ./images/gallery/tab/jpg/img_picture_tab__1_1x.jpg,
          ./images/gallery/tab/jpg/img_picture_tab__1_2x.jpg 2x,
          ./images/gallery/tab/jpg/img_picture_tab__1_3x.jpg 3x" 
          type="image/jpeg"
          
          media="(min-width: 320.1px) and (max-width: 768px)"/>
          <!-- desktop -->
          <source srcset="
          ./images/gallery/desktp/webp/galary_1_1x.webp,
          ./images/gallery/desktp/webp/galary_1_2x.webp 2x,
          ./images/gallery/desktp/webp/galary_1_3x.webp 3x" 
          type="image/webp" 
          
          media="(min-width: 1200px)"/>
          <source srcset="
          ./images/gallery/desktp/jpg/galary_1_1x.jpg,
          ./images/gallery/desktp/jpg/galary_1_2x.jpg 2x" 
          type="image/jpeg" 
          
          media="(min-width: 1200px)"/>
          <img
          class="gallery__img"
          loading="lazy"
          src="./images/gallery/desktp/jpg/galary_1_2x.jpg"
          alt="Testy fruit's ice cream"
        />
        </picture>
      </li>
      <li class="gallery__column">
        <picture>
          <!-- mob -->
          <source srcset="
          ./images/gallery/mob/webp/img_picture_mob__2_1x.webp,
          ./images/gallery/mob/webp/img_picture_mob__2_2x.webp 2x,
          ./images/gallery/mob/webp/img_picture_mob__2_3x.webp 3x" 
          type="image/webp" 
          
          media="(max-width: 320px)"/>
          <source srcset="
          ./images/gallery/mob/jpg/img_picture_mob__2_1x.jpg,
          ./images/gallery/mob/jpg/img_picture_mob__2_2x.jpg 2x,
          ./images/gallery/mob/jpg/img_picture_mob__2_3x.jpg 3x" 
          type="image/jpeg" 
          
          media="(max-width: 320px)"/>
          <!-- tab -->
          <source srcset="
          ./images/gallery/tab/webp/img_picture_tab__2_1x.webp,
          ./images/gallery/tab/webp/img_picture_tab__2_2x.webp 2x,
          ./images/gallery/tab/webp/img_picture_tab__2_3x.webp 3x" 
          type="image/webp"
          
          media="(min-width: 320.1px) and (max-width: 768px)"/>
          <source srcset="
          ./images/gallery/tab/jpg/img_picture_tab__2_1x.jpg,
          ./images/gallery/tab/jpg/img_picture_tab__2_2x.jpg 2x,
          ./images/gallery/tab/jpg/img_picture_tab__2_3x.jpg 3x" 
          type="image/jpeg"
          
          media="(min-width: 320.1px) and (max-width: 768px)"/>
          <!-- desctop -->
          <source srcset="
          ./images/gallery/desktp/webp/galary_2_1x.webp,
          ./images/gallery/desktp/webp/galary_2_2x.webp 2x,
          ./images/gallery/desktp/webp/galary_2_3x.webp 3x" 
          type="image/webp" 
          
          media="(min-width: 1200px)"/>
          <source srcset="
          ./images/gallery/desktp/jpg/galary_2_1x.jpg,
          ./images/gallery/desktp/jpg/galary_2_2x.jpg 2x" 
          type="image/jpeg" 
          
          media="(min-width: 1200px)"/>
          <img
          class="gallery__img"
          loading="lazy"
          src="./images/gallery/desktp/jpg/galary_2_2x.jpg"
          alt="Delicious strawberry ice cream"
        />
        </picture>
        <picture>
          <!-- mob -->
          <source srcset="
          ./images/gallery/mob/webp/img_picture_mob__3_1x.webp,
          ./images/gallery/mob/webp/img_picture_mob__3_2x.webp 2x,
          ./images/gallery/mob/webp/img_picture_mob__3_3x.webp 3x" 
          type="image/webp" 
          
          media="(max-width: 320px)"/>
          <source srcset="
          ./images/gallery/mob/jpg/img_picture_mob__3_1x.jpg,
          ./images/gallery/mob/jpg/img_picture_mob__3_2x.jpg 2x,
          ./images/gallery/mob/jpg/img_picture_mob__3_3x.jpg 3x" 
          type="image/jpeg" 
          
          media="(max-width: 320px)"/>
          <!-- tab -->
          <source srcset="
          ./images/gallery/tab/webp/img_picture_tab__3_1x.webp,
          ./images/gallery/tab/webp/img_picture_tab__3_2x.webp 2x,
          ./images/gallery/tab/webp/img_picture_tab__3_3x.webp 3x" 
          type="image/webp"
          
          media="(min-width: 320.1px) and (max-width: 768px)"/>
          <source srcset="
          ./images/gallery/tab/jpg/img_picture_tab__3_1x.jpg,
          ./images/gallery/tab/jpg/img_picture_tab__3_2x.jpg 2x,
          ./images/gallery/tab/jpg/img_picture_tab__3_3x.jpg 3x" 
          type="image/jpeg"
          
          media="(min-width: 320.1px) and (max-width: 768px)"/>
          <!-- desctop -->
          <source srcset="
          ./images/gallery/desktp/webp/galary_3_1x.webp,
          ./images/gallery/desktp/webp/galary_3_2x.webp 2x,
          ./images/gallery/desktp/webp/galary_3_3x.webp 3x" 
          type="image/webp" 
          
          media="(min-width: 1200px)"/>
          <source srcset="
          ./images/gallery/desktp/jpg/galary_3_1x.jpg,
          ./images/gallery/desktp/jpg/galary_3_2x.jpg 2x" 
          type="image/jpeg" 
          
          media="(min-width: 1200px)"/>
          <img
          class="gallery__img"
          loading="lazy"
          src="./images/gallery/desktp/jpg/galary_3_2x.jpg"
          alt="Ice cream with wild berries"
        />
        </picture>
      </li>
      <li class="gallery__column">
        <picture>
          <!-- mob -->
          <source srcset="
          ./images/gallery/mob/webp/img_picture_mob__4_1x.webp,
          ./images/gallery/mob/webp/img_picture_mob__4_2x.webp 2x,
          ./images/gallery/mob/webp/img_picture_mob__4_3x.webp 3x" 
          type="image/webp" 
          
          media="(max-width: 320px)"/>
          <source srcset="
          ./images/gallery/mob/jpg/img_picture_mob__4_1x.jpg,
          ./images/gallery/mob/jpg/img_picture_mob__4_2x.jpg 2x,
          ./images/gallery/mob/jpg/img_picture_mob__4_3x.jpg 3x" 
          type="image/jpeg" 
          
          media="(max-width: 320px)"/>
          <!-- tab -->
          <source srcset="
          ./images/gallery/tab/webp/img_picture_tab__4_1x.webp,
          ./images/gallery/tab/webp/img_picture_tab__4_2x.webp 2x,
          ./images/gallery/tab/webp/img_picture_tab__4_3x.webp 3x" 
          type="image/webp"
          
          media="(min-width: 320.1px) and (max-width: 768px)"/>
          <source srcset="
          ./images/gallery/tab/jpg/img_picture_tab__4_1x.jpg,
          ./images/gallery/tab/jpg/img_picture_tab__4_2x.jpg 2x,
          ./images/gallery/tab/jpg/img_picture_tab__4_3x.jpg 3x" 
          type="image/jpeg"
          
          media="(min-width: 320.1px) and (max-width: 768px)"/>
          <!-- desctop -->
          <source srcset="
          ./images/gallery/desktp/webp/galary_4_1x.webp,
          ./images/gallery/desktp/webp/galary_4_2x.webp 2x,
          ./images/gallery/desktp/webp/galary_4_3x.webp 3x" 
          type="image/webp" 
          
          media="(min-width: 1200px)"/>
          <source srcset="
          ./images/gallery/desktp/jpg/galary_4_1x.jpg,
          ./images/gallery/desktp/jpg/galary_4_2x.jpg 2x" 
          type="image/jpeg" 
          
          media="(min-width: 1200px)"/>
          <img
          class="gallery__img"
          loading="lazy"
          src="./images/gallery/desktp/jpg/galary_4_2x.jpg"
          alt="Bright flavors of the tropic"
        />
        </picture>
        <picture>
          <!-- mob -->
          <source srcset="
          ./images/gallery/mob/webp/img_picture_mob__5_1x.webp,
          ./images/gallery/mob/webp/img_picture_mob__5_2x.webp 2x,
          ./images/gallery/mob/webp/img_picture_mob__5_3x.webp 3x" 
          type="image/webp" 
          
          media="(max-width: 320px)"/>
          <source srcset="
          ./images/gallery/mob/jpg/img_picture_mob__5_1x.jpg,
          ./images/gallery/mob/jpg/img_picture_mob__5_2x.jpg 2x,
          ./images/gallery/mob/jpg/img_picture_mob__5_3x.jpg 3x" 
          type="image/jpeg" 
          
          media="(max-width: 320px)"/>
          <!-- tab -->
          <source srcset="
          ./images/gallery/tab/webp/img_picture_tab__5_1x.webp,
          ./images/gallery/tab/webp/img_picture_tab__5_2x.webp 2x,
          ./images/gallery/tab/webp/img_picture_tab__5_3x.webp 3x" 
          type="image/webp"
          
          media="(min-width: 320.1px) and (max-width: 768px)"/>
          <source srcset="
          ./images/gallery/tab/jpg/img_picture_tab__5_1x.jpg,
          ./images/gallery/tab/jpg/img_picture_tab__5_2x.jpg 2x,
          ./images/gallery/tab/jpg/img_picture_tab__5_3x.jpg 3x" 
          type="image/jpeg"
          
          media="(min-width: 320.1px) and (max-width: 768px)"/>
          <!-- desctop -->
          <source srcset="
          ./images/gallery/desktp/webp/galary_5_1x.webp,
          ./images/gallery/desktp/webp/galary_5_2x.webp 2x,
          ./images/gallery/desktp/webp/galary_5_3x.webp 3x" 
          type="image/webp" 
          
          media="(min-width: 1200px)"/>
          <source srcset="
          ./images/gallery/desktp/jpg/galary_5_1x.jpg,
          ./images/gallery/desktp/jpg/galary_5_2x.jpg 2x" 
          type="image/jpeg" 
          
          media="(min-width: 1200px)"/>
          <img
          class="gallery__img img--small"
          loading="lazy"
          src="./images/gallery/desktp/jpg/galary_5_2x.jpg"
          alt="Сlassic filling ice cream"
        />
        </picture>
      </li>
      <li class="gallery__column">
        <picture>
          <!-- mob -->
          <source srcset="
          ./images/gallery/mob/webp/img_picture_mob__6_1x.webp,
          ./images/gallery/mob/webp/img_picture_mob__6_2x.webp 2x,
          ./images/gallery/mob/webp/img_picture_mob__6_3x.webp 3x" 
          type="image/webp" 
          
          media="(max-width: 320px)"/>
          <source srcset="
          ./images/gallery/mob/jpg/img_picture_mob__6_1x.jpg,
          ./images/gallery/mob/jpg/img_picture_mob__6_2x.jpg 2x,
          ./images/gallery/mob/jpg/img_picture_mob__6_3x.jpg 3x" 
          type="image/jpeg" 
          
          media="(max-width: 320px)"/>
          <!-- tab -->
          <source srcset="
          ./images/gallery/tab/webp/img_picture_tab__6_1x.webp,
          ./images/gallery/tab/webp/img_picture_tab__6_2x.webp 2x,
          ./images/gallery/tab/webp/img_picture_tab__6_3x.webp 3x" 
          type="image/webp"
          
          media="(min-width: 320.1px) and (max-width: 768px)"/>
          <source srcset="
          ./images/gallery/tab/jpg/img_picture_tab__6_1x.jpg,
          ./images/gallery/tab/jpg/img_picture_tab__6_2x.jpg 2x,
          ./images/gallery/tab/jpg/img_picture_tab__6_3x.jpg 3x" 
          type="image/jpeg"
          
          media="(min-width: 320.1px) and (max-width: 768px)"/>
          <!-- desctop -->
          <source srcset="
          ./images/gallery/desktp/webp/galary_6_1x.webp,
          ./images/gallery/desktp/webp/galary_6_2x.webp 2x,
          ./images/gallery/desktp/webp/galary_6_3x.webp 3x" 
          type="image/webp" 
          
          media="(min-width: 1200px)"/>
          <source srcset="
          ./images/gallery/desktp/jpg/galary_6_1x.jpg,
          ./images/gallery/desktp/jpg/galary_6_2x.jpg 2x" 
          type="image/jpeg" 
          
          media="(min-width: 1200px)"/>
          <img
          class="gallery__img"
          loading="lazy"
          src="./images/gallery/desktp/jpg/galary_6_2x.jpg"
          alt="Fountain of fruit mixes"
        />
        </picture>
        <picture>
          <!-- mob -->
          <source srcset="
          ./images/gallery/mob/webp/img_picture_mob__7_1x.webp,
          ./images/gallery/mob/webp/img_picture_mob__7_2x.webp 2x,
          ./images/gallery/mob/webp/img_picture_mob__7_3x.webp 3x" 
          type="image/webp" 
          
          media="(max-width: 320px)"/>
          <source srcset="
          ./images/gallery/mob/jpg/img_picture_mob__7_1x.jpg,
          ./images/gallery/mob/jpg/img_picture_mob__7_2x.jpg 2x,
          ./images/gallery/mob/jpg/img_picture_mob__7_3x.jpg 3x" 
          type="image/jpeg" 
          
          media="(max-width: 320px)"/>
          <!-- tab -->
          <source srcset="
          ./images/gallery/tab/webp/img_picture_tab__7_1x.webp,
          ./images/gallery/tab/webp/img_picture_tab__7_2x.webp 2x,
          ./images/gallery/tab/webp/img_picture_tab__7_3x.webp 3x" 
          type="image/webp"
          
          media="(min-width: 320.1px) and (max-width: 768px)"/>
          <source srcset="
          ./images/gallery/tab/jpg/img_picture_tab__7_1x.jpg,
          ./images/gallery/tab/jpg/img_picture_tab__7_2x.jpg 2x,
          ./images/gallery/tab/jpg/img_picture_tab__7_3x.jpg 3x" 
          type="image/jpeg"
          
          media="(min-width: 320.1px) and (max-width: 768px)"/>
          <!-- desctop -->
          <source srcset="
          ./images/gallery/desktp/webp/galary_7_1x.webp,
          ./images/gallery/desktp/webp/galary_7_2x.webp 2x,
          ./images/gallery/desktp/webp/galary_7_3x.webp 3x" 
          type="image/webp" 
          
          media="(min-width: 1200px)"/>
          <source srcset="
          ./images/gallery/desktp/jpg/galary_7_1x.jpg,
          ./images/gallery/desktp/jpg/galary_7_2x.jpg 2x" 
          type="image/jpeg" 
          
          media="(min-width: 1200px)"/>
          <img
          class="gallery__img"
          loading="lazy"
          src="./images/gallery/desktp/jpg/galary_7_2x.jpg"
          alt="Star ice cream from the chef"
        />
        </picture>
      </li>
      <li class="gallery__column">
        <picture>
          <!-- mob -->
          <source srcset="
          ./images/gallery/mob/webp/img_picture_mob__8_1x.webp,
          ./images/gallery/mob/webp/img_picture_mob__8_2x.webp 2x,
          ./images/gallery/mob/webp/img_picture_mob__8_3x.webp 3x" 
          type="image/webp" 
          
          media="(max-width: 320px)"/>
          <source srcset="
          ./images/gallery/mob/jpg/img_picture_mob__8_1x.jpg,
          ./images/gallery/mob/jpg/img_picture_mob__8_2x.jpg 2x,
          ./images/gallery/mob/jpg/img_picture_mob__8_3x.jpg 3x" 
          type="image/jpeg" 
          
          media="(max-width: 320px)"/>
          <!-- tab -->
          <source srcset="
          ./images/gallery/tab/webp/img_picture_tab__8_1x.webp,
          ./images/gallery/tab/webp/img_picture_tab__8_2x.webp 2x,
          ./images/gallery/tab/webp/img_picture_tab__8_3x.webp 3x" 
          type="image/webp"
          
          media="(min-width: 320.1px) and (max-width: 768px)"/>
          <source srcset="
          ./images/gallery/tab/jpg/img_picture_tab__8_1x.jpg,
          ./images/gallery/tab/jpg/img_picture_tab__8_2x.jpg 2x,
          ./images/gallery/tab/jpg/img_picture_tab__8_3x.jpg 3x" 
          type="image/jpeg"
          
          media="(min-width: 320.1px) and (max-width: 768px)"/>
          <!-- desctop -->
          <source srcset="
          ./images/gallery/desktp/webp/galary_8_1x.webp,
          ./images/gallery/desktp/webp/galary_8_2x.webp 2x,
          ./images/gallery/desktp/webp/galary_8_3x.webp 3x" 
          type="image/webp" 
          
          media="(min-width: 1200px)"/>
          <source srcset="
          ./images/gallery/desktp/jpg/galary_8_1x.jpg,
          ./images/gallery/desktp/jpg/galary_8_2x.jpg 2x" 
          type="image/jpeg" 
          
          media="(min-width: 1200px)"/>
          <img
          class="gallery__img"
          loading="lazy"
          src="./images/gallery/desktp/jpg/galary_8_2x.jpg"
          alt="Вelicious ice cream for pets"
        />
        </picture>
        <picture>
          <!-- mob -->
          <source srcset="
          ./images/gallery/mob/webp/img_picture_mob__9_1x.webp,
          ./images/gallery/mob/webp/img_picture_mob__9_2x.webp 2x,
          ./images/gallery/mob/webp/img_picture_mob__9_3x.webp 3x" 
          type="image/webp" 
          
          media="(max-width: 320px)"/>
          <source srcset="
          ./images/gallery/mob/jpg/img_picture_mob__9_1x.jpg,
          ./images/gallery/mob/jpg/img_picture_mob__9_2x.jpg 2x,
          ./images/gallery/mob/jpg/img_picture_mob__9_3x.jpg 3x" 
          type="image/jpeg" 
          
          media="(max-width: 320px)"/>
          <!-- tab -->
          <source srcset="
          ./images/gallery/tab/webp/img_picture_tab__9_1x.webp,
          ./images/gallery/tab/webp/img_picture_tab__9_2x.webp 2x,
          ./images/gallery/tab/webp/img_picture_tab__9_3x.webp 3x" 
          type="image/webp"
          
          media="(min-width: 320.1px) and (max-width: 768px)"/>
          <source srcset="
          ./images/gallery/tab/jpg/img_picture_tab__9_1x.jpg,
          ./images/gallery/tab/jpg/img_picture_tab__9_2x.jpg 2x,
          ./images/gallery/tab/jpg/img_picture_tab__9_3x.jpg 3x" 
          type="image/jpeg"
          
          media="(min-width: 320.1px) and (max-width: 768px)"/>
          <!-- desctop -->
          <source srcset="
          ./images/gallery/desktp/webp/galary_9_1x.webp,
          ./images/gallery/desktp/webp/galary_9_2x.webp 2x,
          ./images/gallery/desktp/webp/galary_9_3x.webp 3x" 
          type="image/webp" 
          
          media="(min-width: 1200px)"/>
          <source srcset="
          ./images/gallery/desktp/jpg/galary_9_1x.jpg,
          ./images/gallery/desktp/jpg/galary_9_2x.jpg 2x" 
          type="image/jpeg" 
          
          media="(min-width: 1200px)"/>
          <img
          class="gallery__img"
          loading="lazy"
          src="./images/gallery/desktp/jpg/galary_9_2x.jpg"
          alt="Сolorful cocktails"
        />
        </picture>
      </li>
      <li class="gallery__column">
        <picture>
          <!-- mob -->
          <source srcset="
          ./images/gallery/mob/webp/img_picture_mob__10_1x.webp,
          ./images/gallery/mob/webp/img_picture_mob__10_2x.webp 2x,
          ./images/gallery/mob/webp/img_picture_mob__10_3x.webp 3x" 
          type="image/webp" 
          media="(max-width: 320px)"/>
          <source srcset="
          ./images/gallery/mob/jpg/img_picture_mob__10_1x.jpg,
          ./images/gallery/mob/jpg/img_picture_mob__10_2x.jpg 2x,
          ./images/gallery/mob/jpg/img_picture_mob__10_3x.jpg 3x" 
          type="image/jpeg" 
          media="(max-width: 320px)"/>
          <!-- tab -->
          <source srcset="
          ./images/gallery/tab/webp/img_picture_tab__10_1x.webp,
          ./images/gallery/tab/webp/img_picture_tab__10_2x.webp 2x,
          ./images/gallery/tab/webp/img_picture_tab__10_3x.webp 3x" 
          type="image/webp"
          
          media="(min-width: 320.1px) and (max-width: 768px)"/>
          <source srcset="
          ./images/gallery/tab/jpg/img_picture_tab__10_1x.jpg,
          ./images/gallery/tab/jpg/img_picture_tab__10_2x.jpg 2x,
          ./images/gallery/tab/jpg/img_picture_tab__10_3x.jpg 3x" 
          type="image/jpeg"
          
          media="(min-width: 320.1px) and (max-width: 768px)"/>
          <!-- desctop -->
          <source srcset="
          ./images/gallery/desktp/webp/galary_10_1x.webp,
          ./images/gallery/desktp/webp/galary_10_2x.webp 2x,
          ./images/gallery/desktp/webp/galary_10_3x.webp 3x" 
          type="image/webp" 
          
          media="(min-width: 1200px)"/>
          <source srcset="
          ./images/gallery/desktp/jpg/galary_10_1x.jpg,
          ./images/gallery/desktp/jpg/galary_10_2x.jpg 2x" 
          type="image/jpeg" 
          
          media="(min-width: 1200px)"/>
          <img
          class="gallery__img"
          loading="lazy"
          src="./images/gallery/desktp/jpg/galary_10_2x.jpg"
          alt="Ice cream for babies"
        />
        </picture>
      </li>
    </ul>
  </div>
</section>
<div id="my__modal" class="my__modal">
  <div class="close_btn--wrap">
    <span class="close" id="close">&times;</span>
    <div class="modal__block" id="modal__block">
      <img id="img01" class="modal__content" alt="x" src="#"/>
      <div id="caption"></div>
    </div>
  </div>
</div>
<script src="./js/gallery.js"></script>
