<section class="section section__gallery" id="section__gallery">
  <div class="container gallery__container">
    <h2 class="visually-hidden">Gallery</h2>
    <ul class="gallery__list">
      <li class="gallery__column">
        <img
          class="gallery__img"
          loading="lazy"
          srcset="
            ./images/gallery/webp/galary_1_1x.webp,
            ./images/gallery/webp/galary_1_2x.webp 2x,
            ./images/gallery/webp/galary_1_3x.webp 3x
          "
          src="./images/gallery/mob/galary_1_1x.jpg"
          alt="picture 1"
        />
      </li>
      <li class="gallery__column">
        <img
          class="gallery__img"
          loading="lazy"
          srcset="
            ./images/gallery/webp/galary_2_1x.webp,
            ./images/gallery/webp/galary_2_2x.webp 2x,
            ./images/gallery/webp/galary_2_3x.webp 3x
          "
          src="./images/gallery/mob/galary_2_1x.jpg"
          alt="picture 2"
        />
        <img
          class="gallery__img"
          loading="lazy"
          srcset="
            ./images/gallery/webp/galary_3_1x.webp,
            ./images/gallery/webp/galary_3_2x.webp 2x,
            ./images/gallery/webp/galary_3_3x.webp 3x
          "
          src="./images/gallery/mob/galary_3_1x.jpg"
          alt="picture 3"
        />
      </li>
      <li class="gallery__column">
        <img
          class="gallery__img"
          loading="lazy"
          srcset="
            ./images/gallery/webp/galary_4_1x.webp,
            ./images/gallery/webp/galary_4_2x.webp 2x,
            ./images/gallery/webp/galary_4_3x.webp 3x
          "
          src="./images/gallery/mob/galary_4_1x.jpg"
          alt="picture 4"
        />
        <img
          class="gallery__img img--big"
          loading="lazy"
          srcset="
            ./images/gallery/webp/galary_5_1x.webp,
            ./images/gallery/webp/galary_5_2x.webp 2x,
            ./images/gallery/webp/galary_5_3x.webp 3x
          "
          src="./images/gallery/mob/galary_5_1x.jpg"
          alt="picture 5"
        />
      </li>
      <li class="gallery__column">
        <img
          class="gallery__img"
          loading="lazy"
          srcset="
            ./images/gallery/webp/galary_6_1x.webp,
            ./images/gallery/webp/galary_6_2x.webp 2x,
            ./images/gallery/webp/galary_6_3x.webp 3x
          "
          src="./images/gallery/mob/galary_6_1x.jpg"
          alt="picture 6"
        />
        <img
          class="gallery__img"
          loading="lazy"
          srcset="
            ./images/gallery/webp/galary_7_1x.webp,
            ./images/gallery/webp/galary_7_2x.webp 2x,
            ./images/gallery/webp/galary_7_3x.webp 3x
          "
          src="./images/gallery/mob/galary_7_1x.jpg"
          alt="picture 7"
        />
      </li>
      <li class="gallery__column">
        <img
          class="gallery__img"
          loading="lazy"
          srcset="
            ./images/gallery/webp/galary_8_1x.webp,
            ./images/gallery/webp/galary_8_2x.webp 2x,
            ./images/gallery/webp/galary_8_3x.webp 3x
          "
          src="./images/gallery/mob/galary_8_1x.jpg"
          alt="picture 8"
        />
        <img
          class="gallery__img"
          loading="lazy"
          srcset="
            ./images/gallery/webp/galary_9_1x.webp,
            ./images/gallery/webp/galary_9_2x.webp 2x,
            ./images/gallery/webp/galary_9_3x.webp 3x
          "
          src="./images/gallery/mob/galary_9_1x.jpg"
          alt="picture 9"
        />
      </li>
      <li class="gallery__column">
        <img
          class="gallery__img"
          loading="lazy"
          srcset="
            ./images/gallery/webp/galary_10_1x.webp,
            ./images/gallery/webp/galary_10_2x.webp 2x,
            ./images/gallery/webp/galary_10_3x.webp 3x
          "
          src="./images/gallery/mob/galary_10_1x.jpg"
          alt="picture 10"
        />
      </li>
    </ul>
  </div>
</section>
<div id="my__modal" class="my__modal">
  <div class="close_btn--wrap">
    <span class="close" id="close">&times;</span>
    <div class="modal__block" id="modal__block">
      <img id="img01" class="modal__content" alt="" />
      <div id="caption"></div>
    </div>
  </div>
</div>
<script src="./js/gallery.js"></script>
