<header class="header" id="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a href="./index.html">
        <svg class="icon-logo" width="199px" height="50px">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <div class="header__menu-wrapper" data-menu id="menu-container">
        <button
          class="header-button"
          data-menu-button
          type="button"
          aria-expanded="false"
          aria-controls="menu-container"
        >
          <svg class="icon-burger" width="20px" height="20px">
            <use
              class="icon-burger-open"
              href="./images/sprite.svg#icon-burger"
            ></use>
            <use
              class="icon-burger-close"
              href="./images/sprite.svg#icon-close"
            ></use>
          </svg>
        </button>
        <ul class="site-nav" data-menu-item>
          <li class="site-nav-item">
            <a class="site-nav-link" href="#hero">Home</a>
          </li>
          <li class="site-nav-item">
            <a class="site-nav-link" href="#customer-reviews">About us</a>
          </li>
          <li class="site-nav-item">
            <a class="site-nav-link" href="#about">How it's made?</a>
          </li>
          <li class="site-nav-item">
            <a class="site-nav-link" href="#products">Our products</a>
          </li>
          <li class="site-nav-item">
            <a class="site-nav-link" href="#section__contacts">Contact</a>
          </li>
        </ul>

        <button class="button-buy" type="button" data-modal-open>
          Buy now
          <svg width="4px" height="8px">
            <use href="./images/sprite.svg#ForBuyNow"></use>
          </svg>
        </button>
      </div>
    </nav>
  </div>
</header>
