<section class="products-section">
  <div class="container">
    <p class="products-section__subtitle">100% natural</p>
    <h2 class="products-section__title">products</h2>
    <ul class="products-section__list">
      <li class="products-section__item">
        <h3 class="products-section__title-inner">ice cream</h3>
        <div class="products-section__pseudo-element">
          <span class="products-section__pseudo-element-inner"></span>
        </div>

        <p class="products-section__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products-section__button" type="button">
          <svg>
            <use href="./images/sprite.svg#icon-arrow-right2"></use>
          </svg>
        </button>
      </li>
      <li class="products-section__item">
        <h3 class="products-section__title-inner">ice coffee</h3>
        <div class="products-section__pseudo-element">
          <span class="products-section__pseudo-element-inner"></span>
        </div>
        <span class="products-section__pseudo-element"></span>
        <p class="products-section__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products-section__button" type="button">
          <svg>
            <use href="./images/sprite.svg#icon-arrow-right2"></use>
          </svg>
        </button>
      </li>
      <li class="products-section__item">
        <h3 class="products-section__title-inner">milkshakes</h3>

        <div class="products-section__pseudo-element">
          <span class="products-section__pseudo-element-inner"></span>
        </div>

        <p class="products-section__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products-section__button" type="button">
          <svg>
            <use href="./images/sprite.svg#icon-arrow-right2"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
