<section class="products-section" id="products">
  <div class="container">
    <p class="products-section__subtitle">100% natural</p>
    <h2 class="products-section__title">products</h2>
    <ul class="products-section__list">
      <li class="products-section__item" data-aos="zoom-in">
        <div class="front products-section__item--first">
          <div>
            <h3 class="products-section__title-inner">ice cream</h3>
            <div class="products-section__pseudo-element">
              <span class="products-section__pseudo-element-inner"></span>
            </div>

            <p class="products-section__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
          </div>
          <button class="products-section__button" type="button">
            <svg class="products-section__icon">
              <use href="./images/sprite.svg#icon-arrow-right2"></use>
            </svg>
          </button>
        </div>

        <div class="back products-section__item--first">
          <div class="products-section__munu-wrap">
            <p class="products-section__text products-section__text--back">
              Name:
            </p>

            <p class="products-section__text products-section__text--back">
              Price:
            </p>
          </div>

          <div class="products-section__munu-wrap">
            <p class="products-section__text products-section__text--back">
              Name:
            </p>
            <p class="products-section__text products-section__text--back">
              Price:
            </p>
          </div>
          <div class="products-section__munu-wrap">
            <p class="products-section__text products-section__text--back">
              Name:
            </p>
            <p class="products-section__text products-section__text--back">
              Price:
            </p>
          </div>
          <div class="products-section__munu-wrap">
            <p class="products-section__text products-section__text--back">
              Name:
            </p>
            <p class="products-section__text products-section__text--back">
              Price:
            </p>
          </div>
          <button class="products-section__button" type="button">
            <svg class="products-section__icon">
              <use href="./images/sprite.svg#icon-arrow-left2"></use>
            </svg>
          </button>
        </div>
      </li>

      <li
        class="products-section__item"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <div class="front products-section__item--second">
          <div>
            <h3 class="products-section__title-inner">ice coffee</h3>
            <div class="products-section__pseudo-element">
              <span class="products-section__pseudo-element-inner"></span>
            </div>

            <p class="products-section__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
          </div>
          <button class="products-section__button" type="button">
            <svg class="products-section__icon">
              <use href="./images/sprite.svg#icon-arrow-right2"></use>
            </svg>
          </button>
        </div>

        <div class="back products-section__item--second">
          <div class="products-section__munu-wrap">
            <p class="products-section__text products-section__text--back">
              Name:<br />Russian death
            </p>

            <p class="products-section__text products-section__text--back">
              Price:<br />
              12$
            </p>
          </div>

          <div class="products-section__munu-wrap">
            <p class="products-section__text products-section__text--back">
              Name:<br />--Bayraktar--
            </p>
            <p class="products-section__text products-section__text--back">
              Price:<br />
              15$
            </p>
          </div>
          <div class="products-section__munu-wrap">
            <p class="products-section__text products-section__text--back">
              Name:<br />Glory to Ukraine
            </p>
            <p class="products-section__text products-section__text--back">
              Price:<br />
              25$
            </p>
          </div>
          <div class="products-section__munu-wrap">
            <p class="products-section__text products-section__text--back">
              Name:<br />Tears of russia
            </p>
            <p class="products-section__text products-section__text--back">
              Price:<br />
              10$
            </p>
          </div>
          <button class="products-section__button" type="button">
            <svg class="products-section__icon">
              <use href="./images/sprite.svg#icon-arrow-left2"></use>
            </svg>
          </button>
        </div>
      </li>
      <li
        class="products-section__item"
        data-aos="zoom-in"
        data-aos-delay="200"
      >
        <div class="front products-section__item--third">
          <div>
            <h3 class="products-section__title-inner">milkshakes</h3>

            <div class="products-section__pseudo-element">
              <span class="products-section__pseudo-element-inner"></span>
            </div>

            <p class="products-section__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
          </div>
          <button class="products-section__button" type="button">
            <svg class="products-section__icon">
              <use href="./images/sprite.svg#icon-arrow-right2"></use>
            </svg>
          </button>
        </div>

        <div class="back products-section__item--third">
          <div class="products-section__munu-wrap">
            <p class="products-section__text products-section__text--back">
              Name:
            </p>

            <p class="products-section__text products-section__text--back">
              Price:
            </p>
          </div>

          <div class="products-section__munu-wrap">
            <p class="products-section__text products-section__text--back">
              Name:
            </p>
            <p class="products-section__text products-section__text--back">
              Price:
            </p>
          </div>
          <div class="products-section__munu-wrap">
            <p class="products-section__text products-section__text--back">
              Name:
            </p>
            <p class="products-section__text products-section__text--back">
              Price:
            </p>
          </div>
          <div class="products-section__munu-wrap">
            <p class="products-section__text products-section__text--back">
              Name:
            </p>
            <p class="products-section__text products-section__text--back">
              Price:
            </p>
          </div>
          <button class="products-section__button" type="button">
            <svg class="products-section__icon">
              <use href="./images/sprite.svg#icon-arrow-left2"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
