@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "DM Sans", sans-serif;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 320px) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding: 0 16px;
    width: 1200px;
  }
}

:root {
  --main-white: #fff;
  --main-black: #000;
  --light-pink: #FFB8CA;
  --dark-pink: #FFA5BA;
  --subtitle-color: #FFA5BA;
  --mobile-bg-col: #E18298;
  --red-color: #D41443;
  --titles-color: #D41443;
  --light-grey: #907E82;
  --sand-yellow: #F0D1A5;
  --light-green: #C2E297;
  --border-line-color: #E1E1E1;
  --about-bg-color: #FFF5F6;
  --contacts-bg-color: #FFF5F6;
}

.header {
  background-color: var(--light-pink);
}

.header-container {
  padding-top: 8px;
}
@media screen and (min-width: 768px) {
  .header-container {
    padding-top: 32px;
  }
}
@media screen and (min-width: 768px) {
  .header-container {
    padding-top: 37px;
  }
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .header-button {
    margin-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .header-button {
    display: none;
  }
}

.icon-logo {
  display: block;
}
@media screen and (min-width: 768px) {
  .icon-logo {
    margin-right: 293px;
  }
}
@media screen and (min-width: 1200px) {
  .icon-logo {
    margin-right: 0px;
  }
}

.icon-burger {
  display: block;
}

@media screen and (max-width: 767px) {
  .button-buy {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .button-buy {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    width: 160px;
    height: 44px;
    border-radius: 22px;
    border: none;
    background-color: var(--main-white);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    color: var(--red-color);
    cursor: pointer;
  }
  .button-buy:hover, .button-buy:focus {
    background-color: #ECEBEB;
  }
}

@media screen and (max-width: 1199px) {
  .site-nav {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.site-nav-item:not(:last-child) {
  margin-right: 35px;
}

.site-nav-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: var(--main-white);
  padding-top: 10px;
  padding-bottom: 10px;
}
.site-nav-link:hover, .site-nav-link:focus {
  color: var(--red-color);
}

.site-nav-link.curent {
  color: var(--red-color);
}

.hero {
  height: 444px;
  background-color: var(--light-pink);
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 334px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 578px;
  }
}

.hero-container {
  height: 100%;
  position: relative;
}

.hero-title {
  position: absolute;
  z-index: 5;
  top: 136px;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.153;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--main-white);
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 22px;
    line-height: 1.136;
    top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 38px;
    line-height: 1.157;
    top: 60px;
  }
}

.hero-title_barnd {
  font-size: 48px;
  line-height: 0.96;
  color: var(--red-color);
}
@media screen and (min-width: 768px) {
  .hero-title_barnd {
    font-size: 34px;
    line-height: 0.91;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title_barnd {
    font-size: 58px;
    line-height: 0.89;
  }
}

.hero-button-list {
  position: absolute;
  bottom: 158px;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .hero-button-list {
    bottom: 190px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-button-list {
    bottom: 317px;
  }
}

.button-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 62.4px;
  height: 24px;
  background: var(--red-color);
  border-radius: 20px;
  border: none;
  color: var(--main-white);
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .button-products {
    width: 107px;
    height: 40px;
    font-size: 14px;
    line-height: 1.28;
  }
}

.button-how-its-made {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 82.8px;
  height: 24px;
  background: var(--main-white);
  border-radius: 20px;
  border: none;
  color: var(--red-color);
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
}
.button-how-its-made:hover, .button-how-its-made:focus {
  background-color: #ECEBEB;
}
@media screen and (min-width: 1200px) {
  .button-how-its-made {
    width: 138px;
    height: 40px;
    font-size: 14px;
    line-height: 1.28;
  }
}

.hero-circle {
  position: absolute;
  z-index: 2;
  background-color: var(--dark-pink);
  border-radius: 50%;
}
@media screen and (max-width: 767px) {
  .hero-circle {
    top: 25px;
    left: 50%;
    -webkit-transform: translateX(-36%);
            transform: translateX(-36%);
    width: 346px;
    height: 344px;
  }
}
@media screen and (min-width: 768px) {
  .hero-circle {
    width: 335px;
    height: 333px;
    bottom: 40px;
    left: 248px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-circle {
    width: 534px;
    height: 534px;
    bottom: 77px;
    left: 517px;
  }
}

.hero-icecream {
  position: absolute;
  top: 9px;
  left: 81px;
}
@media screen and (min-width: 768px) {
  .hero-icecream {
    top: 37px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-icecream {
    top: 54px;
    left: 119px;
  }
}

@media screen and (max-width: 767px) {
  .hero-milk-icon {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .hero-milk-icon {
    position: absolute;
    bottom: 16px;
    left: 32px;
  }
}

@media screen and (max-width: 767px) {
  .hero-girl-icon {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .hero-girl-icon {
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 32px;
  }
}

@media screen and (max-width: 767px) {
  .counter-cafe {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .counter-cafe {
    position: absolute;
    width: 43px;
    height: 44px;
    right: 32px;
    bottom: 280px;
  }
}
@media screen and (min-width: 1200px) {
  .counter-cafe {
    position: absolute;
    width: 72px;
    height: 77px;
    right: 32px;
    bottom: 436px;
  }
}

.number-16 {
  position: absolute;
  z-index: 10;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--red-color);
}
@media screen and (min-width: 1200px) {
  .number-16 {
    font-size: 46px;
    line-height: 1.152;
  }
}

.cafes {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  color: var(--main-white);
}
@media screen and (min-width: 1200px) {
  .cafes {
    font-size: 14px;
    line-height: 1.28;
  }
}

.circle {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
@media screen and (min-width: 1200px) {
  .circle {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 767px) {
  .counter-food-trucks {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .counter-food-trucks {
    position: absolute;
    width: 51px;
    height: 43px;
    right: 32px;
    bottom: 221px;
  }
}
@media screen and (min-width: 1200px) {
  .counter-food-trucks {
    position: absolute;
    width: 92px;
    height: 78px;
    right: 32px;
    bottom: 345px;
  }
}

.food-trucks {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  color: var(--main-white);
}
@media screen and (min-width: 1200px) {
  .food-trucks {
    font-size: 14px;
    line-height: 1.28;
  }
}

.number-23 {
  position: absolute;
  z-index: 10;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--red-color);
}
@media screen and (min-width: 1200px) {
  .number-23 {
    font-size: 46px;
    line-height: 1.152;
  }
}

.products-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.products-section__subtitle {
  font-family: "Titan One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: var(--subtitle-color);
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .products-section__subtitle {
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .products-section__subtitle {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 16px;
  }
}

.products-section__title {
  font-family: "Titan One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: var(--titles-color);
  margin-bottom: 148px;
}
@media screen and (min-width: 768px) {
  .products-section__title {
    font-size: 48px;
    line-height: 1.15;
    margin-bottom: 160px;
  }
}
@media screen and (min-width: 1200px) {
  .products-section__title {
    font-size: 58px;
    line-height: 1.14;
    margin-bottom: 160px;
  }
}

.products-section__item:not(:last-child) {
  margin-bottom: 140px;
}
@media screen and (min-width: 768px) {
  .products-section__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .products-section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -16px;
  }
}
@media screen and (min-width: 1200px) {
  .products-section__list {
    margin-right: -32px;
  }
}

.products-section__item {
  position: relative;
  border-radius: 24px;
  padding-top: 160px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .products-section__item {
    -ms-flex-preferred-size: calc(33.3333333333% - 16px);
        flex-basis: calc(33.3333333333% - 16px);
    margin-right: 16px;
    padding-top: 118px;
  }
}
@media screen and (min-width: 1200px) {
  .products-section__item {
    -ms-flex-preferred-size: calc(33.3333333333% - 32px);
        flex-basis: calc(33.3333333333% - 32px);
    margin-right: 32px;
    padding-top: 165px;
    padding-bottom: 60px;
  }
}

.products-section__item--first {
  background: var(--light-pink);
}
.products-section__item--first::before {
  position: absolute;
  top: -140px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 280px;
  height: 280px;
  content: " ";
  background-image: url("../images/products/mob/products-ice-mob1@1x.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products-section__item--first::before {
    background-image: url("../images/products/mob/products-ice-mob1@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .products-section__item--first::before {
    width: 224px;
    height: 224px;
    background-image: url("../images/products/desktp/products-ice-desktp1@1x.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products-section__item--first::before {
    background-image: url("../images/products/desktp/products-ice-desktp1@2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .products-section__item--first::before {
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    width: 368px;
    height: 294px;
    background-image: url("../images/products/tab/products-ice-tab1@1x.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products-section__item--first::before {
    background-image: url("../images/products/tab/products-ice-tab1@2x.png");
  }
}

.products-section__item--second {
  background: var(--sand-yellow);
}
.products-section__item--second::before {
  position: absolute;
  top: -140px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 280px;
  height: 280px;
  content: " ";
  background-image: url("../images/products/mob/products-ice-mob2@1x.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products-section__item--second::before {
    background-image: url("../images/products/mob/products-ice-mob2@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .products-section__item--second::before {
    width: 224px;
    height: 224px;
    background-image: url("../images/products/desktp/products-ice-desktp2@1x.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products-section__item--second::before {
    background-image: url("../images/products/desktp/products-ice-desktp2@2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .products-section__item--second::before {
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    width: 368px;
    height: 294px;
    background-image: url("../images/products/tab/products-ice-tab2@1x.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products-section__item--second::before {
    background-image: url("../images/products/tab/products-ice-tab2@2x.png");
  }
}

.products-section__item--third {
  background: var(--light-green);
}
.products-section__item--third::before {
  position: absolute;
  top: -140px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 280px;
  height: 280px;
  content: " ";
  background-image: url("../images/products/mob/products-ice-mob3@1x.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products-section__item--third::before {
    background-image: url("../images/products/mob/products-ice-mob3@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .products-section__item--third::before {
    width: 224px;
    height: 224px;
    background-image: url("../images/products/desktp/products-ice-desktp3@1x.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products-section__item--third::before {
    background-image: url("../images/products/desktp/products-ice-desktp3@2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .products-section__item--third::before {
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    width: 368px;
    height: 294px;
    background-image: url("../images/products/tab/products-ice-tab3@1x.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products-section__item--third::before {
    background-image: url("../images/products/tab/products-ice-tab3@2x.png");
  }
}

.products-section__title-inner {
  font-family: "Titan One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-white);
  margin-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .products-section__title-inner {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products-section__pseudo-element {
  line-height: 0;
  text-align: center;
}

.products-section__pseudo-element-inner {
  position: relative;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--main-white);
  display: inline-block;
}
.products-section__pseudo-element-inner::after, .products-section__pseudo-element-inner::before {
  position: absolute;
  top: 0;
  content: " ";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--main-white);
  display: block;
}
.products-section__pseudo-element-inner::after {
  left: 10px;
}
.products-section__pseudo-element-inner::before {
  right: 10px;
}

.products-section__text {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--main-white);
  padding: 32px 40px;
}
@media screen and (min-width: 768px) {
  .products-section__text {
    line-height: 1.76;
    padding: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .products-section__text {
    font-size: 16px;
    padding: 32px 61px 60px 61px;
  }
}

.products-section__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: transparent;
  background-color: var(--main-white);
  cursor: pointer;
}

.products-section__icon {
  fill: var(--red-color);
  width: 12px;
  height: 12px;
}

.my__modal {
  display: none;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  right: 0;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}

.modal__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.modal__content {
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  max-width: 100vw;
  max-height: 85vh;
}

.gallery__img {
  border-radius: 25px;
  border: 1px solid wh;
}

#caption {
  z-index: 20;
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: white;
  padding: 10px 0;
}

.modal__content, #caption {
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
}

.close {
  z-index: 50;
  color: #f1f1f1;
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
body, ul, li, p, a {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.section {
  padding: 0 20px;
}

.container.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .container.contacts__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__office--wrap {
    width: 33.3333333333%;
  }
}

.contacts__office {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 32px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
@media screen and (min-width: 768px) {
  .contacts__office {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contacts__office:not(last-of-type) {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .contacts__office:not(last-of-type) {
    margin-bottom: 0;
  }
}

.contacts__title {
  position: absolute;
  opacity: 0;
  top: -9999px;
  left: -9999px;
}

.contacts__item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 16px;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .contacts__item-wrap {
    margin-bottom: 32px;
    font-size: 16px;
    height: 28px;
  }
}

.contacts__item-wrap.foodtruck {
  width: 130px;
  background-color: #C2E297;
}
@media screen and (min-width: 768px) {
  .contacts__item-wrap.foodtruck {
    width: 138px;
  }
}

.contacts__item-wrap.cafe {
  width: 80px;
  background: #F0D1A5;
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .contacts__item-wrap.cafe {
    width: 73px;
  }
}
@media screen and (min-width: 1200) {
  .contacts__item-wrap.cafe {
    width: 75.1px;
  }
}

.contacts__item {
  padding: 24px 0;
}
@media screen and (min-width: 768px) {
  .contacts__item {
    padding: 32px 0;
  }
}

.contacts__item:first-of-type {
  padding: 0 0 24px 0;
}
@media screen and (min-width: 768px) {
  .contacts__item:first-of-type {
    padding: 0 0 32px 0;
  }
}

.contacts__item:last-of-type {
  padding: 24px 0 0;
}
@media screen and (min-width: 768px) {
  .contacts__item:last-of-type {
    padding: 32px 0 0;
  }
}

.contacts__item:not(:last-of-type) {
  border-bottom: 1px solid #E1E1E1;
}

.contacts__item-title {
  margin-bottom: 8px;
  letter-spacing: 0.04em;
}

.contacts__description--place {
  margin: 0;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907E82;
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .contacts__description--place {
    font-size: 14px;
    line-height: 1.66;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200) {
  .contacts__description--place {
    font-size: 16px;
    line-height: 1.83;
  }
}

.contacts__description--working-days {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #000000;
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .contacts__description--working-days {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200) {
  .contacts__description--working-days {
    font-size: 16px;
  }
}

.contacts__description--working-time {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #FFA5BA;
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .contacts__description--working-time {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200) {
  .contacts__description--working-time {
    font-size: 16px;
  }
}

.contacts--phone,
.contacts--email {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907E82;
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .contacts--phone,
.contacts--email {
    font-size: 14px;
    line-height: 1.83;
  }
}
@media screen and (min-width: 1200) {
  .contacts--phone,
.contacts--email {
    font-size: 16px;
    line-height: 1.83;
  }
}

.contacts--phone:focus,
.contacts--email:focus,
.contacts--phone:hover,
.contacts--email:hover {
  color: #D41443;
}/*# sourceMappingURL=index.css.map */